$font-small__size-header: 14pt;
$font-meduim__size-header: 20pt;
$font-large__size-header: 25pt;

$font-small__size-footer: 12pt;
$font__size-footer: 14pt;

$font-meduim__hero: 50pt;

$font-meduim__size-h1: 34pt;
$font-small__size-h1: 32pt;

$font-meduim__size-h2: 26pt;
$font-small__size-h2: 24pt;

$font-meduim__size-h3: 22pt;
$font-small__size-h3: 20pt;

$font-meduim__size-h4: 18pt;
$font-small__size-h4: 16pt;

$font-meduim__size-bigger-basic: 16pt;
$font-small__size-bigger-basic: 14pt;

$font-meduim__size-basic: 14pt;
$font-small__size-basic: 12pt;

$font-large__size-button: 20pt;
$font-meduim__size-button: 14pt;
$font-small__size-button: 12pt;


$font__classic: 'Zen Kurenaido', sans-serif;
$font__style: 'Lobster', 'Zen Kurenaido', sans-serif;