$header__height-meduim: 60px;
$header__height-large: 100px;
$footer__logo_image: 100px;

$spacebetween__h1-and-button: 40px;

$spacebetween__h1-and-content: 40px;
$spacebetween__h2-and-content: 32px;
$spacebetween__h3-and-content: 28px;
$spacebetween__h4-and-content: 24px;

$breakpoint__small: 500px;
$breakpoint__meduim: 800px;
$breakpoint__large: 1000px;
$breakpoint__xlarge: 1600px;
